[Desktop Entry]
Name=4FunCode
Comment=4FunCode — voice & community client
Exec=_4fun_cod_client
Icon=4fun-cod
Terminal=false
Type=Application
Categories=Network;Chat;AudioVideo;
StartupWMClass=_4fun_cod_client
